# This is a beginner ML project for understanding the ML regression model working principle (potato pricing prediction project)

<img src="potato.jpg">

# Important module and library

In [1]:
#Important module and library  to run the program 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

# Load the dataset

In [5]:
df = pd.read_csv("C:\Users\HP\Desktop\ML\Linear Regression\Linear-Regression-ML\PotatoPrice.csv") #df for dataframe,read the data from the csv data file
df.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \UXXXXXXXX escape (3043572966.py, line 1)

# Visualization data in graphical representation(Not necessary, but helps to understand the dataset)

In [4]:
# For the data visualization 
%matplotlib inline
plt.xlabel('Potato in kilogram(kg)')
plt.ylabel('price in Taka')
plt.scatter(df.potato_kg, df.price)

NameError: name 'plt' is not defined

In [ ]:
X = df[['potato_kg']] #since x have to be two dimentional or 2D array. So [[]]

In [1]:
y = df['price']

NameError: name 'df' is not defined

# Split Dataset for Train and Test

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

#X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10) 
#if you use "random_state=10" then the smaple will be same all the time

In [7]:
X_train

   potato_kg
0          1
8          9
1          2
5          6
7          8
3          4
6          7
4          5

In [8]:
X_test

   potato_kg
9         10
2          3

In [9]:
y_train

0     10
8    115
1     20
5     75
7    100
3     40
6     90
4     55
Name: price, dtype: int64

In [10]:
y_test

9    120
2     25
Name: price, dtype: int64

# Train dataset using model/algorithm

In [11]:
# use the regression model for the dataset
reg=LinearRegression() #creat the object for the regression
reg.fit(X_train, y_train)  #pass the data through the model, reg.fit(1st argument, 2nd argument);
            #1st argument have to be two dimentional or 2D array
            #2nd argument have to be y axis or the output, since y=mx+c

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Predict

In [12]:
reg.predict(X_test)

array([127.20720721,  32.77027027])

In [13]:
y_test

9    120
2     25
Name: price, dtype: int64

# Accuracy of The Model

In [14]:
#We will find the accuracy of this model(our model was liner regression model) for our dataset
reg.score(X_test, y_test)

0.9751089338945892

# predict the output manually

In [15]:
# Give any unknown potato kilogram value,to know the price
#(N.B: the potato kilogram value have to be any value upto 1,for the decent prediction. Since our fitted data potato_kg range is 1 to 7)
reg.predict([[1.1505659]])

array([7.81957149])

# Take user input to know the potato price

In [16]:
#Simple user interface to run our model the model
x=input('To know the potato price,Enter the potato killogram upto 1 : ')

import numpy as np 
array = np.array(x) #input converted into 1 dimentional array
fvalu = array.astype(np.float) # 1 dimentional array into 1 dimentional float array
fvalu_2D=([[fvalu]]) # 1 dimentional array to 2 dimentional array
#print(fvalu_2D)

my_prediction=reg.predict(fvalu_2D)
#print(my_prediction)

#price=np.asscalar(np.array(my_prediction)) #convert vector into scalar using this one line only

#convert vector into scalar using below two lines
price=np.array(my_prediction) 
price=price.item()

print('So',x,' killogram potato price is =',price ,' Taka')

To know the potato price,Enter the potato killogram upto 1 : 105
So 105  killogram potato price is = 1408.8513513513512  Taka